<nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{% url 'index' %}">🍽️ NÁPOLES BAR</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link text-white" href="#">{{ user.username }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-outline-light btn-light" href="{% url 'dashboard' %}"> 🍽️ Menu</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link btn btn-sm btn-outline-light btn-light" href="{% url 'order-history' %}">📜 Historial de Pedidos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-outline-light btn-light" href="{% url 'pending-orders' %}">📜 Pedidos Pendientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-danger ms-2" href="{% url 'logout' %}">🚪 Cerrar Sesión</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-outline-light btn-light" href="{% url 'login' %}">🔑 Iniciar Sesión</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn btn-sm btn-success ms-2" href="{% url 'signup' %}">📝 Regístrate</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
